<md-card>
	<md-card-content>
		<h2 layout="row">
			<span layout="column">{{sheet.name}}</span> 
				<md-button layout="column" ui-sref="sheets.edit({id: sheet._id})" class="md-icon-button md-warn">
					<md-icon aria-label="Edit" md-font-icon="fa fa-pencil-square-o"></md-icon>
				</md-button>
		</h2>
		<p>This group has {{sheet.friends.length}} friends and contains {{sheet.expenses.length}} expenses.</p>
		<p style="word-wrap: break-word;">Share this link with other's in the group for them to view the expenses : <strong>{{url}}</strong></p>
		<div layout="row">
			<md-button class="md-raised md-warn" layout="column"  ui-sref="sheets.friends">
	        	<i class="fa fa-user-plus fa-lg"></i>
	        	&nbsp;Add Friends
	      	</md-button>
	      	<br/>
	      	<md-button class="md-raised md-accent" layout="column" ui-sref="sheets.expenses">
	        		<i class="fa fa-flask fa-lg"></i>
	        	&nbsp;Add Expenses
	      	</md-button>
      	</div>
		<h2>Balance</h2>
		<table class="table">
			<thead>
      			<tr>
			    	<th>&nbsp;</th>
			        <th>Owes an Amount of(<i class="fa fa-inr"></i>)</th>
			        <th>To</th>
			    </tr>
    		</thead>
    		<tbody ng-repeat="b in balance">
      			<tr ng-repeat="owe in b.owes">
        			<td>{{b.name}}</td>
        			<td>{{owe.amount | number:2}}</td>
        			<td>{{owe.name}}</td>
      			</tr>
    		</tbody>
  		</table>
  		<br/>
  		<br/>
  		<h2>Individual Spendings</h2>
  		<table class="table">
  			<thead>
      			<tr>
			    	<th>&nbsp;</th>
			        <th>Spent(<i class="fa fa-inr"></i>)</th>
			    </tr>
    		</thead>
    		<tbody>
      			<tr ng-repeat="bal in balance">
        			<td>{{bal.name}}</td>
        			<td>{{bal.spent | number:2}}</td>
      			</tr>
    		</tbody>
  		</table>
	</md-card-content>
</md-card>